@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

:root {
  --green: #27ae60;
  --dark-color: #219150;
  --black: #444;
  --light-color: #666;
  --border: 0.1rem solid rgba(0, 0, 0, 0.1);
  --border-hover: 0.1rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  transition: width none;
}
.logoimg {
  width: 60px;
}
.navbar {
  display: flex;
  justify-content: space-around;
}
.mainRun {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.card {
  display: flex;
  justify-content: center;
  width: 350px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  height: auto;
  padding: 10px;
}

.card > a {
  text-align: center;
  font-size: 16px;
  text-decoration: none;
}
/* for position on bottom */
.price {
  position: absolute;
  bottom: 0;
}

.navbar-brand > .countBooks {
  left: 65px;
  bottom: 20px;
}

.inputSearch {
  width: 430px !important;
}

.circular {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
